<h2>Reactive: Basics</h2>
<hr />

<div class="row">
    <div class="col">
        <form autocomplete="off" [formGroup]="myForm">
            
            <!-- product field -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label"> Product </label>

                <div class="col-sm-9">
                    <input 
                        type="text" 
                        class="form-control" 
                        formControlName="name"
                        placeholder="Product name"
                        autocomplete="off"

                    />

                    <span class="form-text text-danger"> Should contain 3 letters </span>
                </div>
            </div>

            <!-- price field -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label"> Price </label>

                <div class="col-sm-9">
                    <input type="number" 
                            class="form-control" 
                            formControlName="price"
                            placeholder="Product price"
                    />
                    <span class="form-text text-danger">The price must be 0 or greater </span>
                </div>
            </div>

            <!-- existences field -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label"> Existences </label>

                <div class="col-sm-9">
                    <input type="number"
                            formControlName="existences"
                            class="form-control" 
                            placeholder="Available units"
                    />
                </div>
            </div>

            <!-- save button -->
            <div class="row">
                <div class="col">
                    <button type="submit"
                            class="btn btn-success float-end"
                            [disabled]="myForm.invalid">
                        Save
                    </button>
                </div>
            </div>


        </form>
    </div>
</div>


 <div class="row">
    <div class="col">
        
        <span>Valid</span>
        <pre>{{myForm.valid}}</pre>

        <span>Pristine</span>
        <pre>{{myForm.pristine}}</pre>

        <span>Touched</span>
        <pre>{{myForm.touched}}</pre>

        <span>Valid</span>
        <pre>{{myForm.value | json}}</pre>

    </div>
</div> 