<h2>Reactive: Basics</h2>
<hr />

<div class="row">
    <div class="col">
        <form (ngSubmit)="save()" autocomplete="off" [formGroup]="myForm">
            
            <!-- product field -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label"> Product </label>

                <div class="col-sm-9">
                    <input 
                        type="text" 
                        class="form-control" 
                        formControlName="name"
                        placeholder="Product name"
                        autocomplete="off"

                    />

                    <span class="form-text text-danger" 
                            *ngIf="validField('name')"> Should contain 3 letters 
                    </span>
                </div>
            </div>

            <!-- price field -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label"> Price </label>

                <div class="col-sm-9">
                    <input type="number" 
                            class="form-control" 
                            formControlName="price"
                            placeholder="Product price"
                    />
                    <span class="form-text text-danger"
                    *ngIf="validField('price')">The price must be 0 or greater </span>
                </div>
            </div>

            <!-- existences field -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label"> Existences </label>

                <div class="col-sm-9">
                    <input type="number"
                            formControlName="existences"
                            class="form-control" 
                            placeholder="Available units"
                    />

                    <span class="form-text text-danger"
                    *ngIf="validField('existences')">The existences must be 0 or greater </span>


                </div>
            </div>

            <!-- save button -->
            <div class="row">
                <div class="col">
                    <button type="submit"
                            class="btn btn-success float-end">
                        Save
                    </button>
                </div>
            </div>


        </form>
    </div>
</div>


 <div class="row">
    <div class="col">
        
        <span>Valid</span>
        <pre>{{myForm.valid}}</pre>

        <span>Pristine</span>
        <pre>{{myForm.pristine}}</pre>

        <span>Touched</span>
        <pre>{{myForm.touched}}</pre>

        <span>Valid</span>
        <pre>{{myForm.value | json}}</pre>

        <span>Price</span>
        <pre>{{myForm.controls.price.errors | json}}</pre>


    </div>
</div> 