<h2>Reactive: <small>Dynamics</small></h2>
<hr>

<form autocomplete="off" (ngSubmit)="save()" [formGroup]="myForm">
    
    <!-- name field -->
    <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-9">
            <input 
                type="text" 
                class="form-control" 
                placeholder="Person Name"
                formControlName="name"
                required
            >
            <span class="form-text text-danger" *ngIf="validField('name')">
                This field is required 
            </span>

        </div>
    </div>


    <!-- add favorite -->
    <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label">Add</label>
        <div class="col-sm-9">

            <div class="input-group">
                <input  type="text" 
                        class="form-control" 
                        placeholder="Add favorite"
                        [formControl]="newFavorite"
                        (keyup.enter)="addFavorite()"
                >
                <button class="btn btn-outline-success" 
                        type="button">Add</button>
            </div>

        </div>
    </div>

    <!-- Game list -->
    <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label">Favorites</label>
        <div class="col-sm-9"  formArrayName="favorites">
            
            <div class="input-group mb-1"                 
                *ngFor="let favorite of favoritesArr.controls; let i = index">
    
                <input class="form-control" 
                        [formControlName]="i">
                
                <!-- delete -->
                <button class="btn btn-outline-danger" 
                        type="button"
                        (click)="delete(i)">
                        Delete
                </button>

            </div>

            

        </div>
    </div>

    <div class="row">
        
        <div class="col-sm-12">
            <button 
                type="submit"
                class="btn btn-success float-end"
                
            >
                Save
            </button>
        </div>
    </div>


</form>
<!-- 
<span>User:</span>

<pre>{{user | json}}</pre> -->

<div class="row">
    <div class="col">
        
        <span>Valid</span>
        <pre>{{myForm.valid}}</pre>

        <span>Pristine</span>
        <pre>{{myForm.pristine}}</pre>

        <span>Touched</span>
        <pre>{{myForm.touched}}</pre>

        <span>Value</span>
        <pre>{{myForm.value | json}}</pre>

        <span>Add game</span>
        <pre>{{newFavorite.valid | json}}</pre>

        <br>

        <pre>{{newFavorite.value | json}}</pre>


    </div>
</div> 